body {
    margin-left: 150px;
    margin-right : 150px;
}

img{
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.hover:hover{
    opacity: 0.5;
}


.background{
    opacity: 0.5;
}

.block{
    background-color: rgb(135, 241, 14);
    padding: 10px;
}

.first {
    opacity: 0.3;
}

.second{
    opacity: 0.6;
}

.third{
    opacity: 0.9;
}

